<div class="col-md-6">
    <div class="example-container mat-elevation-z1">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="textSizes"> Id </th>
          <td mat-cell *matCellDef="let i"> {{i.id}} </td>
        </ng-container>
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef class="textSizes"> FirstName </th>
          <td mat-cell *matCellDef="let i"> {{i.first_name}} </td>
        </ng-container>
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef class="textSizes"> LastName </th>
          <td mat-cell *matCellDef="let i"> {{i.last_name}} </td>
        </ng-container>
        <ng-container matColumnDef="mobile_no">
          <th mat-header-cell *matHeaderCellDef class="textSizes"> Mobile </th>
          <td mat-cell *matCellDef="let i"> {{i.mobile_no}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="textSizes"> Email </th>
          <td mat-cell *matCellDef="let i"> {{i.email}} </td>
        </ng-container>
        <!-- actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="textSizes">Edit</th>
          <td mat-cell *matCellDef="let i; let j=index;"> 
            <button mat-icon-button style="color:gray;margin-right: 10px;" (click)="RowSelected(j,i.id,i.first_name,i.last_name,i.mobile_no,i.email)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
