table {
    width: 100%;
}
.example-card{
    /* background-color: #33B5E5; */
    margin-top: 20px;
    width: 50%;
    margin-left: 0px;
    
}
.mat-form-wrap{
    width: 60%;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-style{
    background-color: #33B5E5;
    color: white;
    width : 105px;
    height: 40px;
    left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
}
.mat-cell,.mat-header-cell {
    padding-right: 15px;
    width: max-content;
    white-space: nowrap;
}
.textSizes
{
  font-size: 15px;
  font-weight: bold;
  color : darkslategray;
  font-family: "Montserrat", sans-serif;
}
.parent{
    text-align:center;
    height:auto;
}
.block {
    width: 75%;
}
.child {
    margin:auto;
}
.example-container {
    height: auto;
    width: 50%;
    overflow: auto;
    /* overflow-y: hidden; */
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
p{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    color : darkslategray;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 1px 2px rgba(black,.15);
}